---
import Main from "../layout/Main.astro";
---

<Main>
    <main>
        <h2 class="text-center text-2xl py-8">
            About Us
        </h2>
        <p class="max-w-4xl mx-auto">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam sit explicabo recusandae doloribus ipsam temporibus suscipit voluptatum veniam itaque optio nihil sed, 
            repellat vero beatae iste. Iusto nam a hic, rerum, officia id sit ullam similique sapiente veniam cupiditate, ipsum minima. Itaque pariatur quasi tempore repellat 
            alias quisquam veritatis, consectetur magnam eveniet velit accusamus excepturi ipsam dolore necessitatibus modi. Quibusdam placeat neque, iure explicabo ipsum dolorem
            id facere sequi aut ducimus a. Neque saepe inventore qui alias dicta. Repellendus, ullam totam excepturi necessitatibus cum voluptates dolorum! Voluptatum atque illo 
            debitis eum, perspiciatis voluptates animi soluta earum asperiores dolores adipisci cumque?
        </p>
    </main>
</Main>
